<div class="tepache-game-server-controller" ...attributes>
  <div class="tepache-game-server-controller__wrapper">
    <img
      class="tepache-game-server-controller__image"
      alt="controller base"
      src="/controller/controller-base.png"
    />
    <img
      class="tepache-game-server-controller__image
        {{if this.dpadPressed 'invisible'}}"
      alt="d base"
      src="/controller/dpad-base.png"
    />
    <img
      class="tepache-game-server-controller__image
        {{unless this.downDirectionPressed 'invisible'}}"
      alt="dpad down"
      src="/controller/dpad-down.png"
    />
    <img
      class="tepache-game-server-controller__image
        {{unless this.leftDirectionPressed 'invisible'}}"
      alt="dpad left"
      src="/controller/dpad-left.png"
    />
    <img
      class="tepache-game-server-controller__image
        {{unless this.rightDirectionPressed 'invisible'}}"
      alt="dpad right"
      src="/controller/dpad-right.png"
    />
    <img
      class="tepache-game-server-controller__image
        {{unless this.upDirectionPressed 'invisible'}}"
      alt="dpad up"
      src="/controller/dpad-up.png"
    />
    <img
      class="tepache-game-server-controller__image
        {{if this.aButtonPressed 'invisible'}}"
      alt="a button"
      src="/controller/a-up.png"
    />
    <img
      class="tepache-game-server-controller__image
        {{if this.bButtonPressed 'invisible'}}"
      alt="b button"
      src="/controller/b-up.png"
    />
    <img
      class="tepache-game-server-controller__image
        {{if this.xButtonPressed 'invisible'}}"
      alt="x button"
      src="/controller/x-up.png"
    />
    <img
      class="tepache-game-server-controller__image
        {{if this.yButtonPressed 'invisible'}}"
      alt="y button"
      src="/controller/y-up.png"
    />
    <img
      class="tepache-game-server-controller__image
        {{if this.startButtonPressed 'invisible'}}"
      alt="start button"
      src="/controller/start-up.png"
    />
    <img
      class="tepache-game-server-controller__image
        {{if this.selectButtonPressed 'invisible'}}"
      alt="select button"
      src="/controller/select-up.png"
    />
  </div>
</div>