<div class="tepache-chat h-100 row d-flex flex-column bg-dark flex-nowrap">
  <div
    class="tepache-chat__header d-none d-lg-flex text-center text-white border-bottom sticky-top bg-dark"
  >
    <h2 class="lead p-2">
      Stream Chat
    </h2>
  </div>
  <div
    class="tepache-chat__message-container text-white small d-flex flex-shrink-1 flex-column p-3"
    data-list-container-selector
  >
    <ul
      class="list-group list-group-flush tepache-chat__message-list-group position-relative pb-5"
    >
      <li
        class="list-group-item tepache-chat__message-list-item tepache-chat__message-list-item--detector position-absolute"
        {{did-intersect onEnter=this.onIntersectingTop onExit=this.onExitingTop
        }}
      ></li>
      {{#each @messages as |message|}}
        <li
          class="list-group-item tepache-chat__message-list-item"
          data-list-scroll-detector
          {{did-insert this.scrollToBottom}}
        >
          <span style="color: {{string-to-random-color message.publisher}}">
            {{message.publisher}}
            :
          </span>
          {{message.message}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div
    class="tepache-chat__message-input justify-content-end flex-grow-1 flex-column p-3 d-none d-sm-flex border-top"
  >
    <div class="text-muted tiny p-2">
      {{this.lastAdminMessage.message}}
    </div>
    <TepacheChatInput @onMessage={{this.message}} />
  </div>
  <div
    class="tepache-chat__message-input tepache-chat__message-input--sticky d-flex justify-content-end flex-grow-1 flex-column p-3 d-sm-none bg-dark fixed-bottom border-top"
  >
    <div class="text-muted tiny pb-2">
      {{this.lastAdminMessage.message}}
    </div>
    <TepacheChatInput @onMessage={{this.message}} />
  </div>
</div>