<div class="tepache-game-server-controller" ...attributes>
  <div
    class="tepache-game-server-controller__wrapper
      {{if @pressedState 'tepache-game-server-controller__wrapper--active'}}"
  >
    <img
      class="tepache-game-server-controller__image tepache-game-server-controller__image--base"
      alt="controller base"
      src="/controller/controller-base.png"
      loading="lazy"
    />
    <img
      class="tepache-game-server-controller__image
        {{if this.dpadPressed 'tepache-game-server-controller__image--invisible'
        }}"
      alt="d base"
      src="/controller/dpad-base.png"
      loading="lazy"
    />
    <img
      class="tepache-game-server-controller__image
        {{unless
          this.downDirectionPressed
          'tepache-game-server-controller__image--invisible'
        }}"
      alt="dpad down"
      src="/controller/dpad-down.png"
      loading="lazy"
    />
    <img
      class="tepache-game-server-controller__image
        {{unless
          this.leftDirectionPressed
          'tepache-game-server-controller__image--invisible'
        }}"
      alt="dpad left"
      src="/controller/dpad-left.png"
      loading="lazy"
    />
    <img
      class="tepache-game-server-controller__image
        {{unless
          this.rightDirectionPressed
          'tepache-game-server-controller__image--invisible'
        }}"
      alt="dpad right"
      src="/controller/dpad-right.png"
      loading="lazy"
    />
    <img
      class="tepache-game-server-controller__image
        {{unless
          this.upDirectionPressed
          'tepache-game-server-controller__image--invisible'
        }}"
      alt="dpad up"
      src="/controller/dpad-up.png"
      loading="lazy"
    />
    <img
      class="tepache-game-server-controller__image
        {{if
          this.aButtonPressed
          'tepache-game-server-controller__image--invisible'
        }}"
      alt="a button"
      src="/controller/a-up.png"
      loading="lazy"
    />
    <img
      class="tepache-game-server-controller__image
        {{if
          this.bButtonPressed
          'tepache-game-server-controller__image--invisible'
        }}"
      alt="b button"
      src="/controller/b-up.png"
      loading="lazy"
    />
    <img
      class="tepache-game-server-controller__image
        {{if
          this.xButtonPressed
          'tepache-game-server-controller__image--invisible'
        }}"
      alt="x button"
      src="/controller/x-up.png"
      loading="lazy"
    />
    <img
      class="tepache-game-server-controller__image
        {{if
          this.yButtonPressed
          'tepache-game-server-controller__image--invisible'
        }}"
      alt="y button"
      src="/controller/y-up.png"
      loading="lazy"
    />
    <img
      class="tepache-game-server-controller__image
        {{if
          this.startButtonPressed
          'tepache-game-server-controller__image--invisible'
        }}"
      alt="start button"
      src="/controller/start-up.png"
      loading="lazy"
    />
    <img
      class="tepache-game-server-controller__image
        {{if
          this.selectButtonPressed
          'tepache-game-server-controller__image--invisible'
        }}"
      alt="select button"
      src="/controller/select-up.png"
      loading="lazy"
    />
  </div>
</div>