<div
  class="tepache-game-client-controller
    {{if this.socketConnected 'tepache-game-client-controller--connected'}}"
  ...attributes
  {{on 'mousedown' this.handleMouseDown}}
  {{on 'mouseup' this.handleMouseUp}}
  {{on 'touchstart' this.handleMouseDown}}
  {{on 'touchcancel' this.handleMouseUp}}
  {{on 'touchend' this.handleMouseUp}}
  {{did-insert this.listenForController}}
>
  {{inline-svg
    'controller/reduced-stacked-controller'
    class='tepache-game-client-controller__svg'
  }}
</div>