<div
  class="tepache-game-client-controller"
  {{on 'mousedown' this.handleMouseDown}}
  {{on 'mouseup' this.handleMouseUp}}
  {{on 'touchstart' this.handleMouseDown}}
  {{on 'touchcancel' this.handleMouseUp}}
  {{on 'touchend' this.handleMouseUp}}
>
  {{inline-svg
    'controller/reduced-stacked-controller'
    class='tepache-game-client-controller__svg'
  }}
</div>