<div ...attributes {{did-insert this.createCastHook}}>
  <TepacheCast {{on 'click' this.cast}} />
  <OvenPlayer
    @options={{@options}}
    @onStateChanged={{this.onStateChanged}}
    onMute={{this.onMute}}
    onVolumeChange={{this.onVolumeChange}}
  />
</div>