<div
  class="jumbotron text-white text-center bg-opacity-75 d-flex justify-content-center"
  ...attributes
>
  <PowerCalendarRange
    class="tepache-game-session-calendar__power-calendar text-dark"
    @navComponent={{component 'power-calendar/nav'}}
    @daysComponent={{component 'power-calendar/days'}}
    @selected={{this.range}}
    @center={{this.center}}
    @onCenterChange={{this.onCenterChange}} as |calendar|
  >
    <calendar.Nav />
    <calendar.Days />
  </PowerCalendarRange>
</div>