<div class="tepache-chat bg-black">
  <div class="tepache-chat__message-container text-white p-1">
    <ul class="list-group list-group-flush tepache-chat__message-list-group position-relative px-1 py-1 fs-6">
      <li
        class="list-group-item tepache-chat__message-list-item tepache-chat__message-list-item--detector position-absolute">
      </li>
      {{#each @messages as |message|}}
      <li class="list-group-item tepache-chat__message-list-item" data-list-scroll-detector {{did-insert
        this.scrollToBottom}}>
        <span class="tepache-chat__timestamp text-secondary">{{chat-timestamp message.timetoken}}</span>
        <span class="tepache-chat__publisher" style="color: {{string-to-random-color message.publisher}}">
          {{message.publisher}}:
        </span>
        {{message.message}}
      </li>
      {{/each}}
    </ul>
  </div>
  {{!-- {{#if @showInput}} --}}
  {{!-- {{else}}
  <TepacheGameClientController class="w-100 flex-grow-0" @chatChannel={{@chatChannel}} />
  {{/if}} --}}
</div>