<div class="tepache-live-screen-v2 bg-dark container-fluid h-100">
  <div class="row h-100">
    {{#if (is-active @gameSessionModel.state)}}
      {{#if this.ovenPlayerConfig}}
        <div class="col-lg-9 col-xs-12 bg-dark sticky-top">
          <TepacheVideoPlayer @options={{this.ovenPlayerConfig}} />
          <div
            class="tepache-live-screen-v2__metadata d-flex bg-dark text-white py-2 px-4 border-bottom"
          >
            <TepacheThumbnail
              @thumbnail={{@game.logo}}
              class="tepache-live-screen-v2__thumbnail border border-primary rounded-circle me-4"
            />
            <div>
              <div class="small mt-1 mb-2">
                <span class="me-1">
                  {{@game.title}}
                </span>
                <div class="badge bg-success small">
                  {{@gameSessionModel.state}}
                </div>
              </div>
              <div class="mx-2 mb-1 small">
                <span class="me-2">
                  <i class="bi bi-person-video"></i>
                  {{this.totalOccupancy}}
                </span>
                <span class="me-2">
                  <i class="bi bi-calendar-event"></i>
                  {{short-date @gameSessionModel.createdAt}}
                </span>
                <span class="me-2">
                  <i class="bi bi-check2-square"></i>
                  Chat mode
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xs-12 bg-dark">
          <TepacheChat
            @chatChannel={{this.chatChannel}}
            @adminChannel={{this.adminChannel}}
            @channel={{@gameSessionModel.id}}
            @userId={{@playerSessionModel.id}}
          />
        </div>
      {{/if}}
    {{/if}}
    {{#if (is-paused @gameSessionModel.state)}}
      <div class="jumbotron jumbotron-fluid bg-dark text-light">
        <div class="container text-center p-5">
          <div class="row">
            <div class="col-12">
              <h2 class="display-4">
                {{capitalize 'paused'}}
              </h2>
            </div>
            <div class="col-12 p-5"></div>
            <div class="col-12 p-5"></div>
          </div>
          <br />
        </div>
        <br class="mt-5" />
      </div>
    {{/if}}
  </div>
</div>