<div class="tepache-live-screen container-fluid justify-content-center">
  {{#if (is-active @gameSessionModel.state)}}
    <div class="row">
      <div class="col-12 bg-black pt-4">
        <div class="container">
          <div class="row">
            {{#if this.ovenPlayerConfig}}
              <div class="col-md-6 col-xs-12">
                <TepacheVideoPlayer @options={{this.ovenPlayerConfig}} />
              </div>
            {{/if}}
            <div class="d-none d-xl-block col-4 py-4 text-white">
              <TepacheGameLog
                class="font-weight-light text-monospace"
                @playerSessionModel={{@playerSessionModel}}
                @logs={{this.sortedMergedLogs}}
                @textColor={{this.textColor}}
              />
            </div>
            <div class="col-2 d-none d-xl-block">
              <div class="tepache-live-screen__controller-container">
                <TepacheGameServerController
                  class="w-100 tepache-live-screen__controller"
                  @pressedState={{this.pressedState}}
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row tepache-live-screen__client-controller-container justify-content-center"
    >
      <div class="col-xl-5 col-11 mt-4 d-none d-sm-block">
        <TepacheGameClientController
          class="w-100"
          @gameSessionModel={{@gameSessionModel}}
          @playerSessionModel={{@playerSessionModel}}
          @currentPressedButton={{this.currentPressedButton}}
        />
      </div>
      <div class="col-12 d-block d-sm-none bg-black">
        <div class="bg-black">
          <div class="p-2">
            <TepacheGameLog
              class="font-weight-light small text-monospace"
              @playerSessionModel={{@playerSessionModel}}
              @logs={{this.sortedMergedLogs}}
              @textColor={{this.textColor}}
            />
          </div>
          <div class="container pb-3">
            <BsForm
              @formLayout="vertical"
              @model={{this.formModel}}
              @submitOnEnter={{true}}
              @onSubmit={{this.submit}} as |form|
            >
              <form.element
                @size="sm"
                @controlType="text"
                @property="textarea" as |el|
              >
                <el.control placeholder="Send button press as message" />
              </form.element>
              <form.submitButton @size="sm">
                Submit
              </form.submitButton>
            </BsForm>
          </div>
        </div>
        <div class="card mt-4 bg-dark text-light mb-4">
          <div class="card-body">
            <h5 class="display-6 card-title">
              <a href="sms:+15302407571?&body=up" class="text-white">
                530-240-7571
              </a>
            </h5>
            <p class="card-text">
              Try texting the number above to play
            </p>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if (is-pending @gameSessionModel.state)}}
    <div class="jumbotron jumbotron-fluid bg-dark text-light">
      <div class="container text-center p-5">
        <div class="row">
          <div class="col-12">
            <h2 class="display-4">
              Game will start shortly
            </h2>
          </div>
          <div class="col-12 p-5">
            <span
              class="align-middle spinner-grow mx-auto text-primary"
              role="status"
            ></span>
          </div>
          <div class="col-12 p-5"></div>
        </div>
        <br />
      </div>
      <br class="mt-5" />
    </div>
  {{/if}}
  {{#if (is-paused @gameSessionModel.state)}}
    <div class="jumbotron jumbotron-fluid bg-dark text-light">
      <div class="container text-center p-5">
        <div class="row">
          <div class="col-12">
            <h2 class="display-4">
              {{capitalize 'paused'}}
            </h2>
          </div>
          <div class="col-12 p-5"></div>
          <div class="col-12 p-5"></div>
        </div>
        <br />
      </div>
      <br class="mt-5" />
    </div>
  {{/if}}
</div>