<div class="controller-container">
  {{! Temporary controller rendering until new SVG is ready }}
  {{! 100% credit to Melanie Seltzer's https://github.com/melanieseltzer/css-snes-controller }}
  <div class="bumper bumper--left"></div>
  <div class="bumper bumper--right"></div>
  <div class="controller">
    <div class="left-pad">
      <div class="dpad">
        <div class="dpad__button button--vertical">
          <div class="dpad__arrow arrow--top"></div>
          <div class="dpad__arrow arrow--bottom"></div>
        </div>
        <div class="dpad__button button--horizontal">
          <div class="dpad__center">
            <div class="dpad__circle"></div>
          </div>
          <div class="dpad__arrow arrow--left">
            <button
              class="tepache-game-client-controller__button" type="button" {{on 'click' (fn this.handleButtonClick 'left')}}
            ></button>
          </div>
          <div class="dpad__arrow arrow--right">
            <button
              class="tepache-game-client-controller__button" type="button" {{on 'click' (fn this.handleButtonClick 'right')}}
            ></button>
          </div>
        </div>
      </div>
    </div>
    <div class="middle-pad">
      <div class="logo">
        <h1 class="logo__header"></h1>
        <h2 class="logo__byline">
          Entertainment System
        </h2>
      </div>
      <div class="start-select">
        <div class="start-select__button button--start">
          <div class="start-select__interior">
            <button
              class="tepache-game-client-controller__button" type="button" {{on 'click' (fn this.handleButtonClick 'start')}}
            ></button>
          </div>
        </div>
        <div class="start-select__button button--select">
          <div class="start-select__interior">
            <button
              class="tepache-game-client-controller__button" type="button" {{on 'click' (fn this.handleButtonClick 'select')}}
            ></button>
          </div>
        </div>
      </div>
    </div>
    <div class="right-pad">
      <div class="right-controls">
        <div class="right-controls__circle"></div>
        <div class="button-group button-group--top">
          <div class="button-group__button button--x">
            <button
              class="tepache-game-client-controller__button" type="button" {{on 'click' (fn this.handleButtonClick 'x')}}
            ></button>
          </div>
          <div class="button-group__button button--y">
            <button
              class="tepache-game-client-controller__button" type="button" {{on 'click' (fn this.handleButtonClick 'y')}}
            ></button>
          </div>
        </div>
        <div class="button-group button-group--bottom">
          <div class="button-group__button button--a">
            <button
              class="tepache-game-client-controller__button" type="button" {{on 'click' (fn this.handleButtonClick 'a')}}
            ></button>
          </div>
          <div class="button-group__button button--b">
            <button
              class="tepache-game-client-controller__button" type="button" {{on 'click' (fn this.handleButtonClick 'b')}}
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>