<div ...attributes {{did-insert this.loadSVG}}>
  <div id="button-container" class="biglargeclarke__button-container">
    <BsButton
      class="biglargeclarke__mario-button biglargeclarke__mario-button--left"
      @onClick={{fn this.handleButtonClick 'left'}}
    >
      <i class="bi-arrow-left-circle-fill"></i>
    </BsButton>
    <BsButton
      class="biglargeclarke__mario-button biglargeclarke__mario-button--up"
      @onClick={{fn this.handleButtonClick 'up'}}
    >
      <i class="bi-arrow-up-circle-fill"></i>
    </BsButton>
    <BsButton
      class="biglargeclarke__mario-button biglargeclarke__mario-button--down"
      @onClick={{fn this.handleButtonClick 'down'}}
    >
      <i class="bi-arrow-down-circle-fill"></i>
    </BsButton>
    <BsButton
      class="biglargeclarke__mario-button biglargeclarke__mario-button--right"
      @onClick={{fn this.handleButtonClick 'right'}}
    >
      <i class="bi-arrow-right-circle-fill"></i>
    </BsButton>
    <BsButton
      class="biglargeclarke__mario-button biglargeclarke__mario-button--y"
      @onClick={{fn this.handleButtonClick 'y'}}
    >
      Y
    </BsButton>
    <BsButton
      class="biglargeclarke__mario-button biglargeclarke__mario-button--b"
      @onClick={{fn this.handleButtonClick 'b'}}
    >
      B
    </BsButton>
    <BsButton
      class="biglargeclarke__mario-button biglargeclarke__mario-button--a"
      @onClick={{fn this.handleButtonClick 'a'}}
    >
      A
    </BsButton>
    <BsButton
      class="biglargeclarke__mario-button biglargeclarke__mario-button--x"
      @onClick={{fn this.handleButtonClick 'x'}}
    >
      X
    </BsButton>
    <BsButton
      class="biglargeclarke__mario-button biglargeclarke__mario-button--r"
      @onClick={{fn this.handleButtonClick 'r'}}
    >
      R
    </BsButton>
    <BsButton
      class="biglargeclarke__mario-button biglargeclarke__mario-button--r"
      @onClick={{fn this.handleButtonClick 'r'}}
    >
      L
    </BsButton>
    <BsButton
      class="biglargeclarke__mario-button biglargeclarke__mario-button--start"
      @onClick={{fn this.handleButtonClick 'start'}}
    >
      START
    </BsButton>
  </div>
</div>