<div
  class="tepache-game-client-controller justify-content-center align-items-center text-center
    {{if this.socketConnected 'tepache-game-client-controller--connected'}}"
  {{on 'mousedown' this.handleMouseDown}}
  {{on 'mouseup' this.handleMouseUp}}
  {{on 'touchstart' this.handleMouseDown}}
  {{on 'touchcancel' this.handleMouseUp}}
  {{on 'touchend' this.handleMouseUp}}
  {{will-destroy this.remove}}
  {{did-insert this.listenForController}}
>
  {{#unless this.socketConnected}}
    <span
      class="spinner-border spinner-border-lg text-warning position-absolute p-5"
      role="status"
    ></span>
  {{/unless}}
  {{inline-svg
    'controller/reduced-stacked-controller'
    class='tepache-game-client-controller__svg'
  }}
</div>