<div class="tepache-live-screen container justify-content-center">
  {{#if (is-active @gameSessionModel.state)}}
    <div class="row d-none d-lg-block">
      <div class="col-6">
        {{#if this.ovenPlayerConfig}}
          <OvenPlayer @options={{this.ovenPlayerConfig}} />
        {{/if}}
      </div>
      <div class="col-6">
        <TepacheGameServerController
          class="w-100"
          @pressedState={{this.pressedState}}
        />
      </div>
    </div>
    <div class="row tepache-live-screen__client-controller-container">
      <div class="col-12 d-none d-sm-block">
        <TepacheGameClientController
          class="w-100"
          @gameSessionModel={{@gameSessionModel}}
        />
      </div>
      <div class="col-12 d-block d-sm-none">
        {{#if this.ovenPlayerConfig}}
          <OvenPlayer @options={{this.miniOvenPlayerConfig}} />
        {{/if}}
        <div class="card mt-4 bg-dark text-light">
          <div class="card-body">
            <h5 class="display-6 card-title">
              Rotate your phone to get a controller!
            </h5>
            <p class="card-text text-warning">
              Just be warned that you can't view video at the same time 😭
            </p>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if (is-pending @gameSessionModel.state)}}
    <div class="jumbotron jumbotron-fluid bg-dark text-light">
      <div class="container text-center p-5">
        <div class="row">
          <div class="col-12">
            <h2 class="display-4">
              Game will start shortly
            </h2>
          </div>
          <div class="col-12 p-5">
            <span
              class="align-middle spinner-grow mx-auto text-primary"
              role="status"
            ></span>
          </div>
          <div class="col-12 p-5"></div>
        </div>
        <br />
      </div>
      <br class="mt-5" />
    </div>
  {{/if}}
  {{#if (is-paused @gameSessionModel.state)}}
    <div class="jumbotron jumbotron-fluid bg-dark text-light">
      <div class="container text-center p-5">
        <div class="row">
          <div class="col-12">
            <h2 class="display-4">
              {{capitalize 'paused'}}
            </h2>
          </div>
          <div class="col-12 p-5"></div>
          <div class="col-12 p-5"></div>
        </div>
        <br />
      </div>
      <br class="mt-5" />
    </div>
  {{/if}}
</div>