<div class="tepache-live-screen container justify-content-center">
  {{#if (is-active @gameSessionModel.state)}}
    <div class="row">
      <div class="col-12 d-none d-xl-block bg-black">
        <div class="container">
          <div class="row">
            {{#if this.ovenPlayerConfig}}
              <div class="col-7">
                <OvenPlayer @options={{this.ovenPlayerConfig}} />
              </div>
            {{/if}}
            <div class="col-5">
              <div class="container">
                <div class="row tepache-live-screen__controller-container">
                  <div class="col-12">
                    <TepacheGameServerController
                      class="w-75 tepache-live-screen__controller"
                      @pressedState={{this.pressedState}}
                    />
                  </div>
                </div>
                <div class="row">
                  <ul
                    class="tepache-live-screen__chat list-unstyled text-uppercase font-weight-light text-white small text-monospace mb-2"
                  >
                    {{#each @logCollection as |log|}}
                      <li class="text-truncate text-right align-right mb-2">
                        {{log.message}}
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row tepache-live-screen__client-controller-container">
      <div class="col-12 d-none d-sm-block">
        <TepacheGameClientController
          class="w-100"
          @gameSessionModel={{@gameSessionModel}}
        />
      </div>
      <div class="col-12 d-block d-sm-none">
        {{#if this.ovenPlayerConfig}}
          <OvenPlayer @options={{this.miniOvenPlayerConfig}} />
        {{/if}}
        <div class="card mt-4 bg-dark text-light">
          <div class="card-body">
            <h5 class="display-6 card-title">
              Rotate your phone to get a controller!
            </h5>
            <p class="card-text text-warning">
              Just be warned that you can't view video at the same time 😭
            </p>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  {{#if (is-pending @gameSessionModel.state)}}
    <div class="jumbotron jumbotron-fluid bg-dark text-light">
      <div class="container text-center p-5">
        <div class="row">
          <div class="col-12">
            <h2 class="display-4">
              Game will start shortly
            </h2>
          </div>
          <div class="col-12 p-5">
            <span
              class="align-middle spinner-grow mx-auto text-primary"
              role="status"
            ></span>
          </div>
          <div class="col-12 p-5"></div>
        </div>
        <br />
      </div>
      <br class="mt-5" />
    </div>
  {{/if}}
  {{#if (is-paused @gameSessionModel.state)}}
    <div class="jumbotron jumbotron-fluid bg-dark text-light">
      <div class="container text-center p-5">
        <div class="row">
          <div class="col-12">
            <h2 class="display-4">
              {{capitalize 'paused'}}
            </h2>
          </div>
          <div class="col-12 p-5"></div>
          <div class="col-12 p-5"></div>
        </div>
        <br />
      </div>
      <br class="mt-5" />
    </div>
  {{/if}}
</div>