{{page-title 'Dashboard'}}
<h1>
  Dashboard
</h1>
<p>
  Welcome to the admin dashboard.
</p>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <Admin::TepacheActiveGameSessionCard
        @gameSessionModel={{@model.gameSession}}
        @gameModel={{@model.game}}
      />
    </div>
    <div class="col mb-4">
      <Admin::TepacheActivePlayerSessionCountCard
        @playerSessionCollection={{@model.playerSessions}}
      />
    </div>
    <div class="col mb-4">
      <Admin::TepacheIdentifiedUserCard
        @identifiedUser={{@model.identifiedUser}}
      />
    </div>
  </div>
</div>