{{page-title 'Credits'}}
<div class="tepache-mode-credits bg-white">
  {{#each @model as |profile|}}
    <TepacheProfileHighlight
      @imageAlt={{profile.imageAlt}}
      @image={{profile.image}}
      @title={{profile.title}}
      @description={{profile.description}}
      @links={{profile.links}}
    />
  {{/each}}
</div>