<div class="form-check">
  <Input
    id="activeCheck"
    class="form-check-input"
    @type="checkbox"
    @checked={{this.showActiveOnly}}
    {{on 'input' this.toggleActiveOnly}}
  />
  <label class="form-check-label" for="activeCheck">
    Active only
  </label>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Description
        </th>
        <th scope="col">
          Created at
        </th>
        <th scope="col">
          Expires at
        </th>
        <th scope="col">
          State
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.processedGameSessionCollection as |gameSession|}}
        <tr>
          <th scope="row" class="text-truncate">
            <LinkTo
              @route="authenticated.base.admin.game-session"
              @model={{gameSession.id}}
            >
              {{gameSession.name}}
            </LinkTo>
          </th>
          <td class="text-truncate">
            {{gameSession.description}}
          </td>
          <td>
            {{short-date gameSession.createdAt}}
          </td>
          <td>
            {{short-date gameSession.expiresAt}}
          </td>
          <td>
            {{lowercase gameSession.state}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>