{{page-title 'Live'}}
<BsNavbar
  @type="dark"
  @backgroundColor="dark"
  @toggleBreakpoint={{null}} as |navbar|
>
  <div class="navbar-header">
    <LinkTo @route="authenticated.base.index" class="navbar-brand">
      <img
        class="tepache-mode-base__icon tepache-mode-base__icon--live"
        alt="painting of rotting pineapple character"
        title="Rotting pineapple"
        src="/its-tepache-bb.png"
      />
    </LinkTo>
  </div>
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <span class="text-white">
          Speech recognition enabled with your permission!
        </span>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>
<TepacheLiveScreen
  @gameSessionModel={{@model.gameSession}}
  @playerSessionModel={{@model.playerSession}}
  @hardwareInputCollection={{@model.hardwareInput}}
  @logCollection={{@model.log}}
  @sessionCaptureCollection={{@model.sessionCapture}}
/>